[Unit]
Description=Mount Backblaze key-store

[Service]
Type=simple
Environment="RCLONE_CONFIG=.config/rclone/rclone.conf"
ExecStart=/usr/bin/rclone mount backblaze:key-store .key-store \
    --dir-cache-time 72h \
    --poll-interval 15m \
    --vfs-cache-mode writes \
    --vfs-cache-max-age 72h \
    --vfs-cache-max-size 100M \
    --vfs-read-chunk-size 128M \
    --vfs-read-chunk-size-limit off \
    -vv
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
